# Email Settings
EMAIL_HOST_USER=meh10valiz@gmail.com
EMAIL_HOST_PASSWORD='ente rpas swor dher'
ALLOWED_HOSTS="127.0.0.1,localhost,10.82.62.167" # Enter the local IP address of the development machine using ipconfig